.reach-me {
  height: 100%;
  border-radius: 10px;
  background: var(--box-background);
  backdrop-filter: blur(7.5px);
  padding: 0 10px;
}

.reach-me:hover {
  cursor: pointer;
}

.inner-reach {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.p-reach {
  color: #f9f9f9;
  font-family: General Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.p-email {
  color: #777;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
